.navigation_menu{
    display: flex;
    height: 100%;
    max-height: 120px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    position: absolute;
    bottom: 0;
}

.navigation_menu .navigation_menu_component{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.navigation_menu_link{
    text-decoration: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_menu_image{
    filter: contrast(165%);
    max-width: 82%;
    width: 100%;
}
